#sidebar {
	.site-title {
		a {
			color: var(--sidebar-active-color)
		}
	}

	.site-subtitle {
		color: var(--sidebar-active-color)
	}
}

/* .post-content { text-align: justify; } */

.osce { color: #99ddf7; }
.oscp { color: #f7c48d; }
.oswp { color: #cba8f7; }
.ewptx { color: #f7999b; }
.cphe { color: #8df7d4; }
